.analytics {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.analytics-container {
    padding: 1.5rem 3rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.analytics-container>h2 { 
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.analytics-content {
    display: flex;
    gap: 1rem;
}

.analytics-card {
    width: 475px;
    padding: 2.5rem 1.5rem;
    border-radius: 12px;
    background-color: #F9FCFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.analytics-card-item {
    display: flex;
    justify-content: space-between;
}

.analytics-card-item li {
    list-style-type: none;
    position: relative;
    padding-left: 2rem;
    font-size: 18px;
    font-weight: 400;
}

.analytics-card-item li::before {
    content: '.';
    position: absolute;
    top: -19px;
    left: 0;
    color: #90C4CC;
    font-size: 6rem;
    line-height: 0;
}

.analytics-card-item p {
    font-weight: 600;
    font-size: 20px;
}